$card-border-color: #eee;
$card-background-color: #fff;

.card__list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;

    @media screen and (max-width: 767px) {
        margin: 0;
    }

    .card__item {
        box-sizing: border-box;
        position: relative;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        width: calc(33.3333% - 20px);
        padding: 10px;
        margin: 10px;
        background-color: $card-background-color;
        border: 1px solid $card-border-color;
        border-radius: 5px;
        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.05);
        will-change: auto;
        
        &:hover {
            transform: scale(1.01);
            will-change: transform;
        }
        
        @media screen and (max-width: 767px) {
            width: 100%;
            margin: 0;
            
            & + .card__item {
                margin-top: 10px;
            }
        }
        
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: calc(50% - 20px);
            margin: 10px;
        }
        
        .card__title {
            flex: 1 1 auto;
            padding: 6px 0;
            font-size: 16px;
        }
        
        .card__input {
            flex: 1 1 auto;
            display: none;
            min-width: 0;
            padding: 7px 10px;
            line-height: 20px;
            border: 1px solid #eee;
            border-radius: 10px;
            outline: none;

            &:focus {
                border-color: #ddd;
            }

            &::placeholder{
                color: #aaa;
            }
        }

        .card__edit {
            flex: 0 0 auto;
            display: inline-block;
            padding: 6px;
            background-color: transparent;
            border: 0;
            line-height: 12px;
        }
        
        .card__remove {
            flex: 0 0 auto;
            display: inline-block;
            padding: 6px;
            background-color: transparent;
            border: 0;
            line-height: 12px;

            svg {
                display: inline-block;
                vertical-align: top;
            }
        }

        &.editing {
            .card__title {
                display: none;
            }
            
            .card__input {
                display: block;
            }
        }
    }
}