.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 16px;
    
    .contents-header {
        flex: 0 0 auto;
        padding: 20px 0;
    }

    .contents-body {
        flex: 1 1 auto;

        .message {
            padding: 50px 10px;
            text-align: center;
        }
    }

    .category {
        flex: 0 0 auto;
    }
}